@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --main-bg: #19A1AE;
    --card-bg: #FFFFFF;
}

main {
    background-color: var(--main-bg);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: right 40vw bottom 80vw, left 40vw top 60vw;
    background-repeat: no-repeat, no-repeat;

}

.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-card {
    max-width: 18rem;
    background: var(--card-bg) url(./images/bg-pattern-card.svg) no-repeat;
    border-radius: 1rem;
    width: 18rem;

}

.user {
    margin: auto;
    text-align: center;
    border-bottom: rgba(107, 112, 130, .2) solid 1px;
    margin-top: 5rem;

}


.user img {
    width: 5.3rem;
    height: 5.3rem;
    border-radius: 50%;
    border: solid white 5px;
    margin-bottom: .5rem;
}

.user .age {
    color: #6B7082;
    font-weight: 400;
    margin-left: .3rem;
}

.user h1 {
    margin-bottom: .4rem;

}

.user p {
    color: #6B7082;
    font-size: .8rem;
    margin-bottom: 1.5rem;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.followers,
.likes,
.photos {
    text-align: center;
    padding: 1rem;
}

.number {
    font-weight: 700;
}

.description {
    color: #6B7082;
    font-size: .5rem;
    margin-top: .5rem;
}

/* Media Queries */

@media screen and (max-width: 280px) {
    .profile-card {
        max-width: 14.5rem;
    }
}

@media screen and (min-width: 380px) {
    main {
        background-position: right 5vw bottom 40vw, left 60vw top 40vw;
    }

    .profile-card {
        max-width: 19.2rem;
        width: 19.2rem;
    }
}

@media screen and (min-width: 380px) and (max-width: 420px) {
    main {
        background-color: var(--main-bg);
        background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
        background-position: right 50vw bottom 80vw, left 45vw top 80vw;
        background-repeat: no-repeat, no-repeat;
    }
}

@media screen and (min-width: 765px) and (max-width: 920px) {
    main {
        background-color: var(--main-bg);
        background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
        background-position: right 52vw bottom 59vw, left 45vw top 75vw;
        background-repeat: no-repeat, no-repeat;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    main {
        background-color: var(--main-bg);
        background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
        background-position: right 50vw bottom 19vw, left 48vw top 24vw;
        background-repeat: no-repeat, no-repeat;
    }
}

@media screen and (min-width: 1440px) {
    main {
        background-color: var(--main-bg);
        background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
        background-position: right 50vw bottom 20vw, left 48vw top 30vw;
        background-repeat: no-repeat, no-repeat;
    }
}

@media screen and (min-width: 540px) and (max-width: 600px) {
    main {
        background-color: var(--main-bg);
        background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
        background-position: right 50vw bottom 47vw, left 50vw top 60vw;
        background-repeat: no-repeat, no-repeat;
    }
}